<div class="question-list">
    <div class="question-list-top medical-simply-grid">
        <div class="left">
            <span>{{ $t("question.library") }}</span>
        </div>
        <div class="center">
            <span v-html="$t('question.availableQuestion').replace('${question}', medicalTableModel.totalData)"></span>
        </div>
        <div class="right">
            <button class="medical-button"
                    @click="routerLink('/question/0')">
                {{ $t("question.add") }}
            </button>
        </div>
    </div>
    <div class="question-list-main">
        <div class="medical-table">
            <div class="medical-table-top medical-simply-grid">
                <div class="right">
                    <div class="medical-pagination">
                        <span>
                            {{
                                $t("pagination.pageOf").replace("${startOfPage}", medicalTableModel.currentItemStart).replace("${endOfPage}", medicalTableModel.currentItemEnd).replace("${total}", medicalTableModel.totalData)
                            }}
                        </span>
                        <div class="medical-pagination-button">
                            <i class="medical-icon icon-arrow-left"
                               :class="{disabled: !medicalTableModel.isPrev}"
                               @click="medicalTableModel.prev()"></i>
                            <i class="medical-icon icon-arrow-right"
                               :class="{disabled: !medicalTableModel.isNext}"
                               @click="medicalTableModel.next()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <v-data-table
                    hide-default-header
                    hide-default-footer
                    :loading="tableLoading"
                    :sort-by="medicalTableModel.sortBy"
                    :sort-desc="medicalTableModel.sortDesc"
                    :headers="questionListHeaderModel"
                    :items="medicalTableModel.data"
                    :items-per-page="medicalTableModel.perPage"
                    :no-data-text="$t('table.empty')"
                    :loading-text="$t('table.loading')"
                    :options.sync="medicalTableModel.options">
                <template v-slot:header="{ props }">
                    <thead class="v-data-table-header">
                    <tr>
                        <th v-for="header in props.headers"
                            :key="header.value">
                            <div>
                                <span>{{ header.text }}</span>
                                <div class="sort">
                                    <i class="medical-icon icon-sort asc"
                                       :class="[(medicalTableModel.sortBy === header.value && medicalTableModel.sortDesc)? 'active' : '']"
                                       @click="sort(header, true)"/>
                                    <i class="medical-icon icon-sort desc"
                                       :class="[(medicalTableModel.sortBy === header.value && !medicalTableModel.sortDesc)? 'active' : '']"
                                       @click="sort(header, false)"/>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                </template>
                <template v-slot:item="itemRow">
                    <tr>
                        <td v-for="header of questionListHeaderModel">
                            <div v-if="header.value === 'TimeC' || header.value === 'TimeU'">
                                {{ itemRow.item[header.value] | ToDateMonth }}
                            </div>
                            <div v-else-if="header.value === 'QuestionText'">
                                <router-link :to="`/question/${itemRow.item.QuestionID}`">
                                    {{ itemRow.item[header.value] }}
                                </router-link>
                            </div>
                            <div v-else-if="header.value === 'AnswerTypeText'">
                                {{ $t(itemRow.item[header.value]) }}
                            </div>
                            <div v-else>
                                {{ itemRow.item[header.value] }}
                            </div>
                        </td>
                    </tr>
                </template>
            </v-data-table>
            <div class="medical-table-footer medical-simply-grid">
                <div class="left">
                    <span>
                        {{
                            $t("pagination.pageInclude").replace("${perPage}", medicalTableModel.perPage).replace("${dataOfPage}", medicalTableModel.data.length)
                        }}
                    </span>
                </div>
                <div class="right">
                    <div class="medical-pagination">
                        <span>
                            {{
                                $t("pagination.pageOf").replace("${startOfPage}", medicalTableModel.currentItemStart).replace("${endOfPage}", medicalTableModel.currentItemEnd).replace("${total}", medicalTableModel.totalData)
                            }}
                        </span>
                        <div class="medical-pagination-button">
                            <i class="medical-icon icon-arrow-left"
                               :class="{disabled: !medicalTableModel.isPrev}"
                               @click="medicalTableModel.prev()"></i>
                            <i class="medical-icon icon-arrow-right"
                               :class="{disabled: !medicalTableModel.isNext}"
                               @click="medicalTableModel.next()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
