<div class="question-detail">
    <div class="question-top">
        <div class="back"
             @click="routerLink('/question')">
            <i class="medical-icon icon-arrow-left"></i>
            <span>{{ $t("common.backToList") }}</span>
        </div>
    </div>
    <div class="question-main">
        <ValidationObserver ref="form">
            <div class="question-header">
                <span v-if="questionDetailModel.isCreate()">{{ $t("question.new") }}</span>
                <span v-else>{{ $t("question.edit") }}</span>
            </div>
            <div class="question-category">
                <div class="question-category-wrapper">
                    <span class="question-category-header">{{ $t("question.patientCondition") }}</span>
                    <div class="question-category-list">
                        <div class="medical-input medical-radio"
                             v-for="patient of patientConditionList"
                             @click="clickPatient(patient.value)">
                            <input type="radio"
                                   v-model="questionDetailModel.ConditionID"
                                   :value="patient.value"
                                   :disabled="!questionDetailModel.isCreate()">
                            <span>{{ $t(patient.text) }}</span>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="question-category-wrapper">
                    <span class="question-category-header">{{ $t("question.respondent") }}</span>
                    <div class="question-category-list">
                        <div class="medical-input medical-radio"
                             v-for="respondent of respondentList"
                             @click="clickRespondent(respondent.value)">
                            <input type="radio"
                                   v-model="questionDetailModel.RespondentType"
                                   :value="respondent.value"
                                   :disabled="!questionDetailModel.isCreate()">
                            <span>{{ $t(respondent.text) }}</span>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="question-category-description">
                    <p v-html="$t('question.useSurveys').replace('${survey}', questionDetailModel.UsingSurveyCount)"></p>
                    <p v-html="$t('question.usePrescribed').replace('${patient}', questionDetailModel.PrescribedPatientCount)"></p>
                </div>
            </div>
            <div class="question-form">
                <ValidationProvider class="medical-input"
                                    name="question.name"
                                    rules="required"
                                    v-slot="{errors, classes}">
                    <div :class="classes">
                        <div class="medical-input-inline">
                            <span>{{ $t("question.name") }}</span>
                            <input type="text" v-model="questionDetailModel.QuestionText">
                        </div>
                        <p>{{ errors[0] }}</p>
                    </div>
                </ValidationProvider>
                <div class="question-title-image">
                    <div class="question-title-image-wrapper">
                        <el-image v-if="questionDetailModel.MediaLink"
                                  :src="questionDetailModel.MediaLink"
                                  :preview-src-list="[questionDetailModel.MediaLink]">
                        </el-image>
                        <div class="question-title-image-block">
                            <i class="medical-icon icon-zoom"
                               @click="handlePictureCardPreview(questionDetailModel.MediaLink)"></i>
                            <i class="medical-icon icon-trash"
                               @click="handleRemove('question')"></i>
                        </div>
                    </div>
                    <el-upload v-if="!questionDetailModel.MediaLink"
                               action="/api/SurveyManagement/UploadMedia"
                               list-type="picture-card"
                               :show-file-list="false"
                               :headers="serverHeader"
                               :before-upload="beforeUploadQuestionImage"
                               :on-success="handleQuestionImageSuccess"
                               :on-error="handlerQuestionImageError"
                               :on-change="handlerQuestionImageChange"
                               ref="question_image">
                        <i slot="default" class="el-icon-plus"></i>
                    </el-upload>
                </div>
                <div class="question-topic medical-input">
                    <div>
                        <div class="medical-input-inline">
                            <span>{{ $t("question.topicTitle") }}</span>
                            <el-select class="question-topic-mutiple_select"
                                       v-model="questionDetailModel.Topics"
                                       value-key="TopicID"
                                       multiple
                                       :placeholder="$t('question.topic')">
                                <el-option
                                        v-for="item in topics"
                                        :key="item.TopicID"
                                        :label="item.Topic"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <ValidationProvider class="medical-input"
                                    name="question.answerType"
                                    :rules="{ oneOf: answerTypes.map((answer) => {return answer.AnswerTypeID}) }"
                                    v-slot="{ errors, classes }">
                    <div :class="classes">
                        <div class="medical-input-inline">
                            <span>{{ $t("question.answerType") }}</span>
                            <el-select v-model="questionDetailModel.AnswerType">
                                <el-option
                                        v-for="item in answerTypes"
                                        :key="item.AnswerTypeID"
                                        :label="$t(item.AnswerType)"
                                        :value="item.AnswerTypeID">
                                </el-option>
                            </el-select>
                        </div>
                        <p>{{ errors[0] }}</p>
                    </div>
                </ValidationProvider>
                <div class="question-answer-wrapper">
                    <div class="answer-choice-add-area"
                         v-if="getPreviewAnswerArea(3)">
                        <span v-html="$t('question.answerChoices').replace('${count}', questionDetailModel.Choices.length)"></span>
                        <div class="question-answer-add">
                            <div class="medical-input"
                                 style="margin-right: 12px;">
                                <div>
                                    <div class="medical-input-inline">
                                        <input type="text"
                                               v-model="questionChoicesItem.AnswerText"
                                               v-on:keyup.enter="addAnswerChoice">
                                        <button @click="addAnswerChoice">Add</button>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                            <div v-if="questionChoicesItem.MediaLink"
                                 class="question-answer-image-wrapper">
                                <el-image :src="questionChoicesItem.MediaLink"
                                          :preview-src-list="[questionChoicesItem.MediaLink]">
                                </el-image>
                                <div class="question-title-image-block">
                                    <i class="medical-icon icon-zoom"
                                       @click="handlePictureCardPreview(questionChoicesItem.MediaLink)"></i>
                                    <i class="medical-icon icon-trash"
                                       @click="handleRemove('choice')"></i>
                                </div>
                            </div>
                        </div>
                        <Vuedraggable :list="questionDetailModel.Choices"
                                      v-bind="dragOptions"
                                      handle=".icon-drag_drop"
                                      filter=".selected"
                                      :move="handlerMove"
                                      @end="handlerEndDrag">
                            <transition-group class="answer-choice-drag-drop-area">
                                <div class="answer-choice-item medical-simply-grid"
                                     v-for="item in questionDetailModel.Choices"
                                     :key="`${item.AnswerText}_${item.ChoiceID}`">
                                    <i class="medical-icon icon-drag_drop"></i>
                                    {{ item.AnswerText }}
                                    <div class="right">
                                        <i v-if="item.MediaLink"
                                           class="medical-icon icon-zoom"
                                           @click="handlePictureCardPreview(item.MediaLink)"></i>
                                        <i v-if="!item.MediaLink"
                                           class="medical-icon icon-upload-image"
                                           @click="clickUploadChoiceImage(item.ChoiceID)"></i>
                                        <input type="file"
                                               accept="image/png, image/jpeg"
                                               v-on:change="handlerUploadChoiceImage($event, item)"
                                               style="display: none"
                                               :ref="`file_${item.ChoiceID}`"></input>
                                        <i class="medical-icon icon-delete"
                                           @click="removeSelectedChoice(item)"></i>
                                    </div>
                                </div>
                            </transition-group>
                        </Vuedraggable>
                    </div>
                    <div class="question-answer-preview">
                        <span>{{ $t("question.preview") }}</span>
                        <QuestionPreviewComponent :question="questionDetailModel"/>
                    </div>
                </div>
            </div>
            <div class="question-footer">
                <button class="cancel">
                    <span>{{ $t("common.cancel") }}</span>
                </button>
                <button class="save"
                        @click="save"
                        v-if="questionDetailModel.isCreate()">
                    <span>{{ $t("common.save") }}</span>
                </button>
                <button class="save modify"
                        @click="save"
                        :disabled="isCompare"
                        v-else>
                    <span>{{ $t("common.modify") }}</span>
                </button>
            </div>
        </ValidationObserver>
    </div>
    <el-dialog :visible.sync="uploadImageModel.dialogVisible">
        <img width="100%" :src="uploadImageModel.dialogImageUrl" alt="">
    </el-dialog>
</div>
