<div class="question-detail">
    <div class="question-top">
        <div class="back"
             @click="routerLink('/question')">
            <i class="medical-icon icon-arrow-left"></i>
            <span>{{ $t("common.backToList") }}</span>
        </div>
    </div>
    <div class="question-main">
        <ValidationObserver ref="form">
            <div class="question-header">
                <span>{{ $t("question.new") }}</span>
            </div>
            <div class="question-category">
                <div class="question-category-wrapper">
                    <span class="question-category-header">{{ $t("question.patientCondition") }}</span>
                    <div class="question-category-list">
                        <div class="medical-input medical-radio"
                             v-for="patient of patientConditionList"
                             @click="clickPatient(patient.value)">
                            <input type="radio" :value="patient.value" v-model="patientConditionValue">
                            <span>{{ $t(patient.text) }}</span>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="question-category-wrapper">
                    <span class="question-category-header">{{ $t("survey.respondent") }}</span>
                    <div class="question-category-list">
                        <div class="medical-input medical-radio"
                             v-for="respondent of respondentList"
                             @click="clickRespondent(respondent.value)">
                            <input type="radio" :value="respondent.value" v-model="respondentValue">
                            <span>{{ $t(respondent.text) }}</span>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="question-category-description">
                    <p v-html="$t('question.useSurveys')"></p>
                    <p v-html="$t('question.usePrescribed')"></p>
                </div>
            </div>
            <div class="question-form">
                <ValidationProvider class="medical-input"
                                    name="question.answerType"
                                    :rules="{ oneOf: answerTypes.map((answer) => {return answer.AnswerTypeID}) }"
                                    v-slot="{ errors, classes }">
                    <div :class="classes">
                        <div class="medical-input-inline">
                            <span>{{ $t("question.answerType") }}</span>
                            <el-select v-model="answerType">
                                <el-option
                                        v-for="item in answerTypes"
                                        :key="item.AnswerTypeID"
                                        :label="$t(item.AnswerType)"
                                        :value="item.AnswerTypeID">
                                </el-option>
                            </el-select>
                        </div>
                        <p>{{ errors[0] }}</p>
                    </div>
                </ValidationProvider>
                <div class="question-form-flex">
                    <div class="question-answer-choices">
                        <span v-html="$t('question.answerChoices')"></span>

                        <div class="question-answer-preview">
                            <div class="question-title">
                                <input type="text" v-model="questionTitle"
                                       :placeholder="$t('question.titlePlaceholder')"/>
                                <span>{{ questionTitle }}</span>
                            </div>
                            <div class="question-answer">
                                <div class="question-answer-text">
                                    <Vuedraggable :list="temp"
                                                  :data-index="tempIndex"
                                                  v-bind="dragOptions"
                                                  handle=".icon-drag_drop"
                                                  group="question"
                                                  :move="handlerMove"
                                                  @end="handlerEndDrag">
                                        <transition-group class="question-answer-drag_drop-group">
                                            <div class="question-answer-item medical-simply-grid"
                                                 v-for="item in temp"
                                                 :key="item">
                                                <i class="medical-icon icon-drag_drop"></i>
                                                {{ item }}
                                                <div class="right">
                                                    <i class="medical-icon icon-delete"></i>
                                                </div>
                                            </div>
                                        </transition-group>
                                    </Vuedraggable>
                                    <div class="question-answer-add medical-input">
                                        <div>
                                            <div class="medical-input-inline">
                                                <input type="text">
                                                <button>Add</button>
                                            </div>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question-topic">
                        <div class="question-topic-title">
                            <span>{{ $t("question.topicTitle") }}</span>
                        </div>
                        <el-select class="question-topic-mutiple_select"
                                   v-model="topic"
                                   multiple
                                   :placeholder="$t('question.topic')">
                            <el-option
                                    v-for="item in topics"
                                    :key="item.TopicID"
                                    :label="item.Topic"
                                    :value="item.TopicID">
                            </el-option>
                        </el-select>
                    </div>
                </div>
            </div>
            <div class="question-footer">
                <button class="cancel">
                    <span>{{ $t("common.cancel") }}</span>
                </button>
                <button class="save">
                    <span>{{ $t("common.save") }}</span>
                </button>
                <button class="save modify">
                    <span>{{ $t("common.modify") }}</span>
                </button>
            </div>
        </ValidationObserver>
    </div>
</div>
