<v-app class="index">
    <v-app-bar app
               short
               flat
               clipped-left>
        <div class="medical-header" no-gutters>
            <div class="medical-header-left">
                <router-link class="d-flex align-center" to="/">
                    <i class="medical-icon icon-logo-small"></i>
                </router-link>
            </div>
            <div class="medical-header-center">
                <v-tabs fixed-tabs
                        align-with-title
                        hide-slider
                        v-model="currentTab"
                        background-color="transparent"
                        class="medical-tabs"
                        active-class="medical-tabs-active"
                        height="43">
                    <v-tab class="medical-tab-item"
                           to="/survey">
                        <span>{{ $t("mainTabs.surveyList") }}</span>
                    </v-tab>
                    <v-tab class="medical-tab-item"
                           to="/question">
                        <span>{{ $t("mainTabs.questionLibrary") }}</span>
                    </v-tab>
                </v-tabs>
            </div>
            <div class="medical-header-right">
                <el-dropdown>
                    <div class="account">
                        <i class="medical-icon medical-account"></i>
                        <span>{{ auth.Name }}</span>
                    </div>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <div @click="changeLang('en')">English</div>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <div @click="changeLang('zh_TW')">中文</div>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
    </v-app-bar>
    <v-main>
        <v-layout v-loading="isLoading" style="display: block; flex-basis: 0">
            <router-view style="min-height: calc(100% - 78px); "></router-view>
            <!--        <div class="copyrights">-->
            <!--            <div class="text">-->
            <!--                {{ copyRight }}-->
            <!--            </div>-->
            <!--        </div>-->
        </v-layout>
    </v-main>
</v-app>
