<div class="survey-detail">
    <div class="survey-top">
        <div class="back"
             @click="routerLink('/survey')">
            <i class="medical-icon icon-arrow-left"></i>
            <span>{{ $t("common.backToList") }}</span>
        </div>
    </div>
    <div class="survey-main">
        <ValidationObserver ref="form">
            <div class="survey-header">
                <span>{{ $t("survey.new") }}</span>
            </div>
            <div class="survey-category">
                <div class="survey-category-wrapper">
                    <span class="survey-category-header">{{ $t("survey.patientCondition") }}</span>
                    <div class="survey-category-list">
                        <div class="medical-input medical-radio"
                             v-for="patient of patientConditionList"
                             @click="clickPatient(patient.value)">
                            <input type="radio" :value="patient.value" v-model="surveyDetailModel.ConditionID">
                            <span>{{ $t(patient.text) }}</span>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div v-if="surveyDetailModel.ConditionID !== 0"
                     class="survey-category-wrapper">
                    <span class="survey-category-header">{{ $t("survey.respondent") }}</span>
                    <div class="survey-category-list">
                        <div class="medical-input medical-radio"
                             v-for="respondent of respondentList"
                             @click="clickRespondent(respondent.value)">
                            <input type="radio" :value="respondent.value" v-model="surveyDetailModel.RespondentType">
                            <span>{{ $t(respondent.text) }}</span>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div v-if="surveyDetailModel.RespondentType !== 0"
                     class="survey-category-wrapper">
                    <span class="survey-category-header">{{ $t("survey.schedule") }}</span>
                    <div class="survey-category-list grid">
                        <div class="medical-input medical-radio"
                             v-for="schedule of scheduleList"
                             @click="clickSchedule(schedule.value)">
                            <input type="radio" :value="schedule.value" v-model="surveyDetailModel.SurveySchedule">
                            <span>{{ $t(schedule.text) }}</span>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="surveyDetailModel.RespondentType !== 0"
                 class="survey-basic">
                <ValidationProvider class="medical-input"
                                    name="survey.name"
                                    rules="required"
                                    v-slot="{ errors, classes }">
                    <div :class="classes">
                        <div class="medical-input-inline">
                            <span>{{ $t("survey.name") }}</span>
                            <input type="text" v-model="surveyDetailModel.SurveyName">
                        </div>
                        <p>{{ errors[0] }}</p>
                    </div>
                </ValidationProvider>
                <ValidationProvider class="medical-input"
                                    name="survey.description"
                                    rules=""
                                    v-slot="{ errors, classes }">
                    <div :class="classes">
                        <div class="medical-input-inline">
                            <span>{{ $t("survey.description") }}</span>
                            <textarea type="text" v-model="surveyDetailModel.SurveyDescription"/>
                        </div>
                        <p>{{ errors[0] }}</p>
                    </div>
                </ValidationProvider>
                <span v-html="$t('survey.prescribed')"></span>
            </div>
            <hr>
            <div v-if="surveyDetailModel.RespondentType !== 0"
                 class="survey-question">
                <button class="medical-button">
                    Load a Template
                </button>
                <div class="survey-question-wrapper">
                    <div class="question">
                        <div class="question-wrapper">
                            <span v-html="$t('survey.availableQuestions').replace('${question}', 2)"></span>
                            <br>
                            <span class="notice">{{ $t('survey.availableQuestionsNotice') }}</span>
                            <div class="question-drag_drop-area">
                                <Vuedraggable :list="temp"
                                              :data-index="tempIndex"
                                              v-bind="dragOptions"
                                              handle=".icon-drag_drop"
                                              group="question"
                                              :move="handlerMove"
                                              @end="handlerEndDrag">
                                    <transition-group class="question-drag_drop-group">
                                        <div class="question-item"
                                             v-for="item in temp"
                                             :key="item">
                                            <i class="medical-icon icon-drag_drop"></i>
                                            {{ item }}
                                        </div>
                                    </transition-group>
                                </Vuedraggable>
                            </div>
                        </div>
                        <div class="question-wrapper">
                            <span v-html="$t('survey.includeQuestions').replace('${question}', 2)"></span>
                            <br>
                            <span class="notice">{{ $t('survey.includeQuestionsNotice') }}</span>
                            <div class="question-drag_drop-area">
                                <Vuedraggable :list="temp"
                                              :data-index="tempIndex"
                                              v-bind="dragOptions"
                                              handle=".icon-drag_drop"
                                              group="question"
                                              :move="handlerMove"
                                              @end="handlerEndDrag">
                                    <transition-group class="question-drag_drop-group">
                                        <div class="question-item"
                                             v-for="item in temp"
                                             :key="item">
                                            <i class="medical-icon icon-drag_drop"></i>
                                            {{ item }}
                                        </div>
                                    </transition-group>
                                </Vuedraggable>
                            </div>
                        </div>
                    </div>
                    <div class="preview">
                        <span>{{ $t("survey.preview") }}</span>
                        <div class="text-preview">
                            <div class="text-preview-item"
                                 v-for="item in 10">
                                <div class="text-preview-item-title">
                                    1.您是否經常劇烈疼痛?
                                </div>
                                <div class="text-preview-item-answer">
                                    <div class="medical-input medical-radio">
                                        <input type="radio" value="0">
                                        <span>NO</span>
                                        <p></p>
                                    </div>
                                    <div class="medical-input medical-radio">
                                        <input type="radio" value="1">
                                        <span>YES</span>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ValidationObserver>
    </div>
</div>
