<div class="survey-detail">
    <div class="survey-top">
        <div class="back"
             @click="routerLink('/survey')">
            <i class="medical-icon icon-arrow-left"></i>
            <span>{{ $t("common.backToList") }}</span>
        </div>
    </div>
    <div class="survey-main">
        <ValidationObserver ref="form">
            <div class="survey-header">
                <span v-if="surveyDetailModel.isCreate()">{{ $t("survey.new") }}</span>
                <span v-else>{{ $t("survey.edit") }}</span>
            </div>
            <div class="survey-category">
                <div class="survey-category-wrapper">
                    <span class="survey-category-header">{{ $t("survey.patientCondition") }}</span>
                    <div class="survey-category-list">
                        <div class="medical-input medical-radio"
                             v-for="(patient, index) of patientConditionList"
                             @click="clickPatient(patient.value)">
                            <ValidationProvider class="medical-input"
                                                name="question.condition"
                                                :rules="{ oneOf: patientConditionList.map((patinet) => {return patinet.value}) }"
                                                v-slot="{ errors, classes }">
                                <input type="radio"
                                       :disabled="!surveyDetailModel.isCreate()"
                                       v-model="surveyDetailModel.ConditionID"
                                       :value="patient.value">
                                <span>{{ $t(patient.text) }}</span>
                                <div :class="classes"
                                     v-if="index === patientConditionList.length - 1">
                                    <p>{{ errors[0] }}</p>
                                </div>
                                <p v-else></p>
                            </ValidationProvider>
                        </div>
                    </div>
                </div>
                <div v-if="surveyDetailModel.ConditionID !== 0"
                     class="survey-category-wrapper">
                    <span class="survey-category-header">{{ $t("survey.respondent") }}</span>
                    <div class="survey-category-list">
                        <div class="medical-input medical-radio"
                             v-for="(respondent, index) of respondentList"
                             @click="clickRespondent(respondent.value)">
                            <ValidationProvider class="medical-input"
                                                name="question.respondent"
                                                :rules="{ oneOf: respondentList.map((respondent) => {return respondent.value}) }"
                                                v-slot="{ errors, classes }">
                                <input type="radio"
                                       v-model="surveyDetailModel.RespondentType"
                                       :disabled="!surveyDetailModel.isCreate()"
                                       :value="respondent.value">
                                <span>{{ $t(respondent.text) }}</span>
                                <div :class="classes"
                                     v-if="index === patientConditionList.length - 1">
                                    <p>{{ errors[0] }}</p>
                                </div>
                                <p v-else></p>
                            </ValidationProvider>
                        </div>
                    </div>
                </div>
                <div v-if="surveyDetailModel.RespondentType !== 0"
                     class="survey-category-wrapper">
                    <span class="survey-category-header">{{ $t("survey.schedule") }}</span>
                    <div class="survey-category-list grid">
                        <div class="medical-input medical-radio"
                             v-for="(schedule, index) of scheduleList"
                             @click="clickSchedule(schedule.value)">
                            <ValidationProvider class="medical-input"
                                                name="question.schedule"
                                                :rules="{ oneOf: scheduleList.map((schedule) => {return schedule.value}) }"
                                                v-slot="{ errors, classes }">
                                <input type="radio"
                                       v-model="surveyDetailModel.SurveySchedule"
                                       :value="schedule.value">
                                <span>{{ $t(schedule.text) }}</span>
                                <div :class="classes"
                                     v-if="index === patientConditionList.length - 1">
                                    <p>{{ errors[0] }}</p>
                                </div>
                                <p v-else></p>
                            </ValidationProvider>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="surveyDetailModel.RespondentType !== 0"
                 class="survey-basic">
                <ValidationProvider class="medical-input"
                                    name="survey.name"
                                    rules="required"
                                    v-slot="{ errors, classes }">
                    <div :class="classes">
                        <div class="medical-input-inline">
                            <span>{{ $t("survey.name") }}</span>
                            <input type="text" v-model="surveyDetailModel.SurveyName">
                        </div>
                        <p>{{ errors[0] }}</p>
                    </div>
                </ValidationProvider>
                <ValidationProvider class="medical-input"
                                    name="survey.description"
                                    rules=""
                                    v-slot="{ errors, classes }">
                    <div :class="classes">
                        <div class="medical-input-inline">
                            <span>{{ $t("survey.description") }}</span>
                            <textarea type="text" v-model="surveyDetailModel.SurveyDescription"/>
                        </div>
                        <p>{{ errors[0] }}</p>
                    </div>
                </ValidationProvider>
                <span v-html="$t('survey.prescribed').replace('${patient}', surveyDetailModel.PrescribedPatientCount)"></span>
            </div>
            <hr>
            <div v-if="surveyDetailModel.RespondentType !== 0"
                 class="survey-question">
                <!--                <button class="medical-button">-->
                <!--                    Load a Template-->
                <!--                </button>-->
                <div class="survey-question-wrapper">
                    <div class="question">
                        <div class="question-wrapper">
                            <span v-html="$t('survey.availableQuestions').replace('${question}', availableQuestions.length)"></span>
                            <br>
                            <span class="notice">{{ $t("survey.availableQuestionsNotice") }}</span>
                            <div class="question-drag_drop-area">
                                <Vuedraggable :list="availableQuestions"
                                              v-bind="dragOptions"
                                              handle=".icon-drag_drop"
                                              :group="{name: 'question', pull: 'clone', put:'false'}"
                                              :move="handlerMove"
                                              @end="handlerEndDrag">
                                    <transition-group class="question-drag_drop-group question-drag_drop-group-left">
                                        <div class="question-item medical-simply-grid"
                                             v-for="item in availableQuestions"
                                             :key="item.QuestionID"
                                             :ref="`available_question_${item.QuestionID}`">
                                            <i class="medical-icon icon-drag_drop"></i>
                                            <i class="medical-icon icon-type"
                                               :class="questionAnswerType(item)"></i>
                                            {{ item.QuestionText }}
                                            <div class="right">
                                            </div>
                                        </div>
                                    </transition-group>
                                </Vuedraggable>
                            </div>
                        </div>
                        <div class="question-wrapper">
                            <span v-html="$t('survey.includeQuestions').replace('${question}', surveyDetailModel.Questions.length)"></span>
                            <br>
                            <span class="notice">{{ $t("survey.includeQuestionsNotice") }}</span>
                            <div class="question-drag_drop-area">
                                <Vuedraggable :list="surveyDetailModel.Questions"
                                              v-bind="dragOptions"
                                              handle=".icon-drag_drop"
                                              group="question"
                                              :move="handlerMove"
                                              @end="handlerEndDrag">
                                    <transition-group class="question-drag_drop-group question-drag_drop-group-right">
                                        <div class="question-item medical-simply-grid"
                                             v-for="(item, index) in surveyDetailModel.Questions"
                                             :key="`${item.QuestionID}_${index}`">
                                            <i class="medical-icon icon-drag_drop"></i>
                                            <i class="medical-icon icon-type"
                                               :class="questionAnswerType(item)"></i>
                                            {{ item.QuestionText }}
                                            <div class="right">
                                                <i class="medical-icon icon-delete"
                                                   @click="removeSelectedQuestion(index)"></i>
                                            </div>
                                        </div>
                                    </transition-group>
                                </Vuedraggable>
                            </div>
                        </div>
                    </div>
                    <div class="preview">
                        <span>{{ $t("survey.preview") }}</span>
                        <QuestionPreviewComponent v-for="question in surveyDetailModel.Questions"
                                                  :question="question"/>
                    </div>
                </div>
            </div>
            <div class="survey-footer">
                <button class="cancel"
                        @click="currentReload">
                    <span>{{ $t("common.cancel") }}</span>
                </button>
                <button class="save"
                        @click="save"
                        v-if="surveyDetailModel.isCreate()">
                    <span>{{ $t("common.save") }}</span>
                </button>
                <button class="save modify"
                        @click="save"
                        :disabled="isCompare"
                        v-else-if="!surveyDetailModel.isCreate()">
                    <span>{{ $t("common.modify") }}</span>
                </button>
            </div>
        </ValidationObserver>
    </div>
</div>
