.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-wrapper {

    .login-wrapper-top {
      display: flex;
      justify-content: center;
    }

    .login-wrapper-main {
      .login-wrapper-form {
        margin: 105px 0;

        .medical-input {
          input {
            padding: 18px 30px;
            background: #EBEBEB;
            border-radius: 13px;
            font-size: 30px;


            &:focus-visible {
              outline: 2px solid #3E3E3E;
            }

            &::placeholder {
              font-weight: bold;
            }
          }

          .medical-input-error {
            input {

              &:focus-visible {
                outline: 2px solid #d76e51;
              }
            }
          }
        }
      }

      .login-wrapper-footer {
        button {
          width: 100%;
          padding: 18px;
          background: #017C8E;
          border-radius: 13px;
          color: #FFFFFF;
          font-size: 30px;
        }
      }
    }
  }
}
