.medical-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  background-size: cover;
  transition: 0.1s;

  &.medical-icon-16 {
    width: 16px;
    height: 16px;
  }

  &.medical-icon-36 {
    width: 36px;
    height: 36px;
  }

  &.medical-icon-42 {
    width: 42px;
    height: 42px;
  }

  &.icon-btn {
    cursor: pointer;

    &:hover,
    &:active,
    &.active {
      filter: invert(50%) sepia(99%) saturate(1570%) hue-rotate(189deg) brightness(101%) contrast(95%);
    }
  }

  .v-tab--active {
    filter: invert(50%) sepia(99%) saturate(1570%) hue-rotate(189deg) brightness(101%) contrast(95%);
  }

  &.rotate {
    transform: rotate(180deg);
  }

  &.icon-sort {
    width: 13px;
    height: 6px;
    min-width: 13px;
    min-height: 6px;

    &.asc {
      background-image: url("/icons/icon_sort_asc.svg");
    }

    &.desc {
      background-image: url("/icons/icon_sort_desc.svg");
    }
  }

  &.icon-circle {
    background: #A6A6A6;
    border-radius: 50%;
    margin: 4px;
  }

  &.icon-logo {
    background-image: url("/images/icon_logo.svg");
  }

  &.icon-logo-small {
    background-image: url("/icons/logo.svg");
  }

  &.medical-account {
    background-image: url("/icons/icon_account.svg");
  }

  &.icon-arrow-left {
    background-image: url("/icons/icon_arrow_left.svg");
  }

  &.icon-arrow-right {
    background-image: url("/icons/icon_arrow_right.svg");
  }

  &.icon-drag_drop {
    background-image: url("/icons/icon_drag_drop.svg");
  }

  &.icon-delete {
    background-image: url("/icons/icon_delete.svg");
  }

  &.icon-trash {
    background-image: url("/icons/icon_trash.svg");
  }

  &.icon-upload-image, &.icon-image {
    background-image: url("/icons/icon_upload_image.svg");
  }

  &.icon-yesno {
    background-image: url("/icons/icon_boolean.svg");
  }

  &.icon-select {
    background-image: url("/icons/icon_dropdown.svg");
  }

  &.icon-text {
    background-image: url("/icons/icon_text.svg");
  }

  &.icon-audio {
    background-image: url("/icons/icon_audio.svg");
  }

  &.icon-video {
    background-image: url("/icons/icon_video.svg");
  }

  &.icon-zoom {
    background-image: url("/icons/icon_zoom.svg");
  }

  &.icon-check {
    background-image: url("/icons/icon_check.svg");
  }

  &.icon-upload {
    background-image: url("/icons/icon_upload.svg");
  }

  &.icon-number {
    background-image: url("/icons/icon_number.svg");
  }
}
